.moviePage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-top: 25px;
  }
  
  .movieDetails {
    -ms-flex-order: 1;
        order: 1;
  }
  
  .sectionTitle {
    margin: 0;
  }
  
  .detailsList {
    margin-top: 20px;
  }
  
  .detailsList li {
    margin-bottom: 10px;
  } 
  
  .bold {
    font-weight: 600;
  }
  
  .poster {
    -ms-flex-order: 2;
        order: 2;
  }
  
  .posterImg {
    width: 100%;
    height: auto;
  }
  
  @media(min-width: 768px) {
    .moviePage {
      -ms-flex-direction: row;
          flex-direction: row;
    }
    .movieDetails {
      -ms-flex: 2 1 0%;
          flex: 2 1 0%;
      -ms-flex-order: 2;
          order: 2;
    }
    .poster {
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
      -ms-flex-order: 1;
          order: 1;
      padding-right: 20px;
    }
    .posterImg {
      width: 300px;
      height: auto;
    }
  }
